/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/*////////// Global Styles //////////*/

body {
	background: #f2ebe9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
  position: relative;;
  top: 0px;
	margin: 0 auto;
	background: #fff;
	padding: 1px 45px 20px;
}

* {
	box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Write all remaining styles here */
h1, h2 {
	font-family: libre baskerville, serif;
	color: #9daba5;
}

h1 {
  display: block;
  font-size: 400%;
  padding-bottom: 10px;
  border-bottom: #9daba5 solid 1px;
  height: 100%;
}

#feature {
  max-width: 100%;
  border-color: #9caaa5;
  border-width: 5px;
  border-style: solid;
  display: block;
  position: relative;
  bottom: 40px;
}

.press img {
  display: block;
  width: 24.25%;
  margin: 0.25%;
  float: left;
  border-color: #cbcdcc;
  border-width: 5px;
  border-style: solid;
}

.press a:hover img {
  border-color: #747f7b;
}
